{% extends 'base.html.twig' %}

{% block content %}
	<section class="aboutus" id="aboutus">
		<div class="container container-2">
			<div class="wrapper">
				<img src="img/1.jpg" alt="" class="imgforservices">
				<div class="introduction">
					<img src="img/logo2.png" alt="">
					<p>Наш конный клуб находится в Змиевском районе Харьковской области. <br><br>Мы любим наших лошадей. А еще мы любим гостей, которые любят наших лошадей! Приезжайте к нам в клуб!</p>
				</div>
			</div>
			<h1 class="services-main-title">МЫ ПРЕДОСТАВЛЯЕМ СЛЕДУЮЩИЕ УСЛУГИ:</h1>
			<div class="wrapper wrapper-for-examples">
				<div class="service-examples">
					<h2>ШАГОВАЯ ПРОГУЛКА</h2>
					<p>Шаговая прогулка верхом - это прекрасная возможность отдохнуть на природе и насладиться замечательными видами. <br><br>Мaршрут проходит через поля и хвойный лес, также совсем рядом находится речка, куда можно отдельно съездить в летнее время года и даже искупаться вместе с любимой лошадкой! <br><br><br> Стоимость: 220 грн за 45 минут</p>
				</div>
				<div class="imgAndBtn">
					<img src="img/2.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
			</div>
			<div class="wrapper">
				<div class="imgAndBtn">
					<img src="img/4.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
				<div class="service-examples">
					<h2>АКТИВНАЯ ПРОГУЛКА</h2>
					<p>Активная прогулка верхом - это прекрасная возможность для любителей верховой езды с опытом и желанием насадиться активным отдыхом на природе.<br><br>Маршрут проходит по обширным полям, замечтельному хвойному лесу, также возможно проехать вдоль речки. Аллюры, их количество и скорость, а также детали маршрута зависят от навыков всадника.<br><br><br>Стоимость: 250 грн за 45 минут</p>
				</div>
			</div>
			<div class="wrapper wrapper-3">
				<div class="service-examples">
					<h2>ТРЕНИРОВКА</h2>
					<p>Тренировки - это наилучшее решение для тех, кто желает заниматься верховой ездой. <br><br>Учебная программа составляется индивидуально для всадников с любым уровнем подготовки. Для работы имеется открытый манеж 50х60м, крытый манеж 50х15 м, открытая бочка 18 м. Занятия проходят с тренером, подход к каждому всаднику индивидуален. <br><br><br>Стоимость: 250 грн за 45 минут</p>
				</div>
				<div class="imgAndBtn">
					<img src="img/3.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
			</div>
			<div class="wrapper">
				<div class="imgAndBtn">
					<img src="img/7.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
				<div class="service-examples">
					<h2>АБОНЕМЕНТЫ</h2>
					<p>Абонемент  подходит для клиентов нашего конного клуба, которые желают перейти на помесячную оплату с небольшой экономией.<br><br>Срок абонемента - месяц с момента оплаты. В стоимость входит определенное количество тренировок: 4 или 8. По истечению сроков неотмеченные тренировки “закрываются” автоматически.<br><br><br>Стоимость: 850 грн за 4 занятия<br><span class="price">1700 грн за 8 занятий</span></p>
				</div>
			</div>
			<div class="wrapper">
				<div class="service-examples">
					<h2>ПОСТОЙ ЛОШАДИ</h2>
					<p>Постой лошади в деннике для частников. <br><br>Опилки, уборка каждый день. Сено, овес дважды в день. Выгул в леваде весь световой день в компании других лошадей. Сено в левадах. Выпас в электропастухе. Для работы открытый манеж 50х60м, крытый манеж 50х15 м, открытая бочка 18 м.Поля, лес, река сразу за конюшней. Грунт - песок. Выезды - круглый год.<br><br><br>Стоимость: 5000 грн за месяц</p>
				</div>
				<div class="imgAndBtn">
					<img src="img/6.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
			</div>
			<div class="wrapper wrapper-3">
				<div class="imgAndBtn">
					<img src="img/5.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
				<div class="service-examples">
					<h2>УЧАСТИЕ ЛОШАДИ В <br>ФОТОСЕССИЯХ</h2>
					<p  class="photosessionH">Фотосессия с лошадьми - это прекрарсная возможность для любителей красивых фотографий.<br><br>Конный клуб предоставляет возможность почасовой аренды лошади для участия в фотосессии. Также возможна рекомендация фотографов, которые уже имеют опыт работы у нас.<br><br><br>Стоимость: 300 грн за час ф-с.</p>
				</div>
			</div>
			<div class="wrapper wrapper-3">
				<div class="service-examples">
					<h2>КУПАНИЕ С ЛОШАДЬЮ</h2>
					<p>Купание с лошадью в реке - незабываемый и очень интересный опыт. <br><br>Доступно только в летнее время года и только при хорошей погоде. Кроме того, стоит подготовиться к тому, что прогулка пройдет без седла.<br><br>В стоимость входит время прогулки до речки, а также время купания.<br><br><br>Стоимость: 300 грн за 45 мин.</p>
				</div>
				<div class="imgAndBtn">
					<img src="img/8.jpg" alt="" class="imgforservices">
					<a href="{{ path('form') }}" class="btn btn-services">Оставить заявку</a>
				</div>
			</div>
			<img src="img/9.jpg" alt="" class="imgforservices lastinservice">
		</div>
	</section>
{% endblock %}